header {
    background-color: #9CD6F4;
}

.logo {
    width: 150px;
    padding: 25px 15px ;
}

h1 {
    margin-bottom: 0px;
}
.writer{
    color:rgb(66, 66, 66);
    margin-top: 0px;
}

a {
    text-decoration: none;
}

figure {
    display: inline;
    margin-left: 0px;

}

ul {
    padding-left: 20px;
}

table {
    text-align: left;
}

thead {
    width: 400px;
}
th {
    background-color: #7FA6FB;
    color: white;
}

td {
    margin:auto
}