header {
    background-color: #9CD6F4;
}

.logo {
    width: 150px;
    padding: 25px 15px ;
}

h1 {
    margin-bottom: 0px;
}
.writer{
    color:rgb(66, 66, 66);
    margin-top: 0px;
}

a {
    text-decoration: none;
}

figure {
    display: inline;
    margin-left: 0px;

}

ul {
    padding-left: 20px;
}
/*--------------Inizio tabella------------*/
table {
    text-align: left;
}

.columns {
    width: 400px;
}

thead {
    width: 400px;
}

th {
    background-color: #7FA6FB;
    color: white;
}

td {
    margin:auto
}

.background {
    background-color: #DFE5F2;
}

/* ---------------Fine Tabella-------------*/
footer {
    background-color: #313A6B;
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 4px;
}